
.navbar {
    background: linear-gradient(-45deg, red, orange,black);
}
.card{
    width: 18rem;
    text-align: center;
    margin: auto;
    align-items: center;
    
}

.navbar-nav, .nav-link,
.navbar-brand {
  color: white;
}

.hola3 {
    background: linear-gradient(-45deg, red, orange, black);
    position: fixed; /* Cambia la posición a fija */
    bottom: 0; /* Fija el elemento al fondo de la ventana */
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    padding: 10px 0;
}



.text-center {
    text-align: center; /* Centra el texto horizontalmente */
    margin-left: 10%; /* Aplica un margen izquierdo del 10% */
    margin-right: 10%; /* Aplica un margen derecho del 10% */
    position: relative; /* Establece la posición relativa */
    margin-bottom: 40%;
}


.jumbotron{
    margin-top: 2%;
    margin-bottom: 2%;
    border-bottom: 30px;
}

